fastapi
uvicorn[standard]
python-multipart
python-dotenv
pydantic
pydantic-settings

langchain
langchain-core
langchain-community
langchain-ollama
langchain-qdrant
langchain-huggingface
langchain-text-splitters
langgraph

qdrant-client
sentence-transformers
pymupdf
pymupdf4llm

requests